* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body{
    background-color: #1E1E1E;
}

.app{
    padding:  0 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 14px;
    margin: 20px 0;
    background: rgba(123, 74, 226, 0.05);
}

.header-logo {
    color: #fff;
}

.header-link {
    display: flex;
    gap: 18px;
    font-size: 10px;
    width: 1px solid;
    height: 15px;
    font-family: 'Open Sans';
    color: rgba(123, 74, 226, 0.5);
}

.header-link a {
    color: #fff;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-title {}

.hero-title p:nth-child(1) {
    width: 1px solid;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 30px;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #7B4AE2;
}

.hero-title p:nth-child(2) {
    width: 1px solid;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 60px;
    font-size: 40px;
    line-height: 38px;
    color: #FFFFFF;
}

.hero-title p:nth-child(3) {
    width: 1px solid;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: rgba(255, 255, 255, 0.5);
    transform: rotate(-0.03deg);
}

.hero-title-icon {
    right: 25px;
    font-size: 18px;
    color: grey;
}

.hero-img {
    width: 1px solid;
    height: 280px;
}

.hero-img img {
    height: 100%;
}

.hero-btn {
    width: 1px solid;
    height: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    font-size: 10px;
    line-height: 18px;
    align-items: center;
    color: rgba(123, 74, 226, 0.5);
}

/* Responsive Breakpoint */
@media (max-width:1000px) {
    .hero {
        flex-direction: column;
        gap: 50px;
    }
}